<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="public/public_header.html :: basic_head"></div>


    <script>
        const container = angular.module("container-main", []);

        container.controller("container-controller", async ($scope,$timeout)=> {

            /*
            *
            *
            * 기능
            * 문서 수정, 삭제, 설정, 검색
            * 위키 설정 바로가기 , ctrl + s 할때마다 저장,ballon ckeditor, 문서간 이동
            *
            * */

            $scope.doc = {};
            $scope.doc.edit = async ()=>{

            }

            $scope.doc.set = async ()=>{

            }

            $scope.doc.delete = async ()=>{

            }

            $scope.doc.search = async ()=>{

            }

            $scope.doc.move = async () => {

            }

            console.log("Hello worlds : ");
        })
    </script>
</head>
<body>
<div class="container-main" ng-app="container-main" ng-controller="container-controller">
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">

            </h1>
            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item d-none d-md-flex me-3">
                    <div class="btn-list">
                        <a href="https://github.com/sponsors/codecalm" class="p-1" target="_blank" rel="noreferrer">
                            새문서
                        </a>
                        <a href="https://github.com/tabler/tabler" class="p-1" target="_blank" rel="noreferrer">
                            전체 문서
                        </a>
                        <a href="https://github.com/sponsors/codecalm" class="p-1" target="_blank" rel="noreferrer">
                            위키 설정
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <div class="page-body">
<!--    d-xl-block    -->

            <div class="container-xl">
                <div class="row gx-lg-5 p-0" style="position:relative;">
                    <div class="d-none d-lg-block col-xl-2 col-lg-3 p-0">
                        <div class="inner-area py-4 w-100">
                            <div class="text-center mb-2"><a href="/w/dizest_tutorial"><img src="https://picsum.photos/200/100" style="width: 140px;" class="m-1 mt-0 mb-0"></a>
                            </div>
                            <h2 style="font-size: 18px;" class="text-center"><a href="/w/dizest_tutorial" class="text-dark">Title</a>
                            </h2>
                            <input placeholder="문서 검색" ng-model="keyword" ng-change="search(keyword)" ng-enter="search(keyword, true);" class="form-control form-control-rounded text-center ng-pristine ng-untouched ng-valid ng-empty">
                        </div>

                        <ul class="nav nav-pills nav-vertical">
                            <li class="nav-item">
                                <a href="../docs/" class="nav-link active">
                                    Introduction
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#menu-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                                    Getting started
                                    <span class="nav-link-toggle"></span>
                                </a>
                                <ul class="nav nav-pills collapse show" id="menu-base" style="">
                                    <li class="nav-item">
                                        <a href="../docs/getting-started.html" class="nav-link">
                                            Getting Started
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="../docs/download.html" class="nav-link">
                                            Download
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="../docs/browser-support.html" class="nav-link">
                                            Browser Support
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="../changelog.html" class="nav-link">
                                    Changelog
                                    <span class="badge bg-blue-lt ms-auto">1.0.0-beta10</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="doc-set-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-4">
                                        <label class="form-label">Title</label>
                                        <input type="text" class="form-control rounded-3" name="example-text-input" placeholder="제목 입력">
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-label">문서 카테고리</div>
                                        <select class="form-select">
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-label">문서 View 설정</div>
                                        <label class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" checked="">
                                            <span class="form-check-label">문서 옆에 보이기</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-primary">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-9">

                        <div class="card card-lg">
                            <div class="card-header ms-auto">
                                <a class="nav-link btn btn-light mx-1" href="#">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="nav-link btn btn-light mx-1" href="#">
                                    <i class="fa-solid fa-gear" data-bs-toggle="modal" data-bs-target="#doc-set-modal"></i>
                                </a>
                                <a class="nav-link btn btn-light mx-1" href="#">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>

                            <div class="card-body">
                                <div class="markdown">

                                    <div>
                                        <div class="d-flex mb-3">
                                            <h1 class="m-0">Introduction</h1>
                                        </div>
                                    </div>
                                    <p>Tabler is a UI kit that speeds up the development process and makes it easier than ever! Built on the latest version of Bootstrap, it helps you create templates based on fully customizable and ready-to-use UI components, which can be used by both simple websites and sophisticated systems. With basic knowledge of HTML and CSS, you’ll be able to create dashboards that are fully functional and beautifully designed!</p>
                                    <div class="mt-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3>Getting started</h3>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        - <a href="../docs/getting-started.html">Getting Started</a>
                                                    </li>
                                                    <li>
                                                        - <a href="../docs/download.html">Download</a>
                                                    </li>
                                                    <li>
                                                        - <a href="../docs/browser-support.html">Browser Support</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-xl-block card col-xl-2">
                        <div ng-if="data.nav.length > 0" class="content-box mt-4 ng-scope">
                            <h3 class="content-head">목차</h3>
                            <!-- ngRepeat: (idx, item) in data.nav track by $index --><div class="item ng-scope">
                            <a href="#wiki-point-1" class="blue ng-binding">1. </a><span ng-bind-html="markdown(item)" class="ng-binding">6/2</span>
                        </div><!-- end ngRepeat: (idx, item) in data.nav track by $index --><div ng-repeat="(idx, item) in data.nav track by $index" class="item ng-scope"><a href="#wiki-point-2" class="blue ng-binding">2. </a><span ng-bind-html="markdown(item)" class="ng-binding">6/3</span>
                        </div><!-- end ngRepeat: (idx, item) in data.nav track by $index --><div ng-repeat="(idx, item) in data.nav track by $index" class="item ng-scope"><a href="#wiki-point-3" class="blue ng-binding">3. </a><span ng-bind-html="markdown(item)" class="ng-binding">6/7</span>
                        </div><!-- end ngRepeat: (idx, item) in data.nav track by $index --><div ng-repeat="(idx, item) in data.nav track by $index" class="item ng-scope"><a href="#wiki-point-4" class="blue ng-binding">4. </a><span ng-bind-html="markdown(item)" class="ng-binding">6/8</span>
                        </div><!-- end ngRepeat: (idx, item) in data.nav track by $index -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item"><a href="../docs/index.html" class="link-secondary">Documentation</a></li>
                            <li class="list-inline-item"><a href="../license.html" class="link-secondary">License</a></li>
                            <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                            <li class="list-inline-item">
                                <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/heart</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                                    Sponsor
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                Copyright © 2022
                                <a href=".." class="link-secondary">Tabler</a>.
                                All rights reserved.
                            </li>
                            <li class="list-inline-item">
                                Generated 2022-06-09 20:45 UTC
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>