<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="public/public_header.html :: basic_head"></div>

    <style>
        .menu-nav {
            /*#9140E9*/
            background: white;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 0 0 10px 5px rgba(97, 97, 97, 0.16);
        }
        nav ul  {
            padding: 0 20px;
        }

        nav ul li {
            list-style-type: none;
            width: 200px;
        }
        nav ul a{
            display: flex;
            /*white*/
            color: black;
            text-decoration: none;
            /*rgba(255, 255, 255, 0.53)*/
            border-bottom: 1px solid black;
            padding-bottom: 4px;
            text-transform: uppercase;
            transition: 300ms all;
            padding: 15px;

        }

        nav ul a:hover {
            background: rgba(68, 68, 68, 0.83);
            border-bottom: 1px solid rgba(255, 34, 135, 0.86);
        }

        nav ul a span {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

         /*main 검색창*/
        .search-panel{
            background-image: url(https://wiki.season.co.kr/resources/images/main.jpg);
            padding-top: 64px;
            padding-bottom: 64px;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 18px;
            padding-right: 24px;
            padding-left: 24px;
        }

        .search-panel .input-group{
            margin: 0 auto;
            max-width: 480px;
            border-radius: 18px;
            text-align: center;
        }


    </style>

    <script>
        const container = angular.module("container-main", []);

        container.controller("container-controller", async ($scope,$timeout)=> {

            /*
            *
            * 기본
            * 로그인, 로그아웃
            *
            * 기능
            * 페이지이동 ( 넘버, 다음 ), 카테고리 이동, 문서 검색, WIKI 생성
            * */

            $scope.page = {};

            $scope.page.byArrow = async ()=>{

            }

            $scope.page.byNumber = async ()=>{

            }

            $scope.page.byCategory = async ()=>{

            }

            $scope.page.bySearch  = async () =>{

            }

            $scope.wiki = {};

            $scope.wiki.create = async () =>{

            }


            console.log("Hello worlds : ");
        })
    </script>

</head>
<body>
<div class="container-main" ng-app="container-main" ng-controller="container-controller">
    <header class="navbar navbar-expand-md navbar-dark d-print-none" style="background: #7952b3">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href=".">
                    <img src="https://picsum.photos/50/50" width="32" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </h1>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./#">
                            <span class="nav-link-title">
                                  <b>새 위키 만들기</b>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#">
                            <span class="nav-link-title">
                                <b>내 위키</b>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#">
                            <span class="nav-link-title">
                                <b>로그인</b>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#">
                            <span class="nav-link-title">
                                <b>로그아웃</b>
                            </span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </header>

    <div class="page-wrapper">
        <div class="container-xl">

            <!-- Page title -->
            <div class="page-header d-print-none">

                <div class="row">
                    <div class="main-menu">
                        <div style="margin-bottom: 48px;" class="search-panel">
                            <div class="text-center">
                                <div class="input-group search-bar">
                                    <input type="text" placeholder="어떤 문서를 찾으시나요?" ng-model="search.text" ng-enter="event.search()" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                                    <button ng-click="event.search()" class="btn"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <nav class="menu-nav">
                            <ul>
                                <a href="">
                                    <li>Html</li>
                                    <span>05</span>
                                </a>
                                <a href="">
                                    <li>Css</li>
                                    <span>03</span>
                                </a>
                                <a href="">
                                    <li>Javascript</li>
                                    <span>11</span>
                                </a>
                                <a href="">
                                    <li>Vue</li>
                                    <span>12</span>
                                </a>
                                <a href="">
                                    <li>React</li>
                                    <span>85</span>
                                </a>
                                <a href="">
                                    <li>Android</li>
                                    <span>02</span>
                                </a>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-9 card p-3">

                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <h2 class="page-title">
                                    Gallery
                                </h2>
                                <div class="text-muted mt-1">1-12 of 241 photos</div>
                            </div>
                            <!-- Page title actions -->
                            <div class="col-12 col-md-auto ms-auto d-print-none">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/plus</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        WIKI 생성
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-2">
                                <div class="row row-cards">
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="card card-sm">
                                            <a href="#" class="d-block">
                                                <div class="card-img-top    " style="background-image: url('https://picsum.photos/200/200')">
                                                    <svg viewBox="0 0 16 12">
                                                        <rect width="16" height="12" style="fill:rgba(255,255,255,0);"></rect>
                                                    </svg>

                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar me-3 rounded" style="background-image: url(https://picsum.photos/50/50)"></span>
                                                    <div>
                                                        <div>Paweł Kuna</div>
                                                        <div class="text-muted">3 days ago</div>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <a href="#" class="text-muted">
                                                            <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/eye</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="2"></circle><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path></svg>
                                                            467
                                                        </a>
                                                        <a href="#" class="ms-3 text-muted">
                                                            <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/heart</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                                                            67
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex">
                                    <ul class="pagination ms-auto">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/chevron-left</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>
                                                prev
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/chevron-right</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

</body>
</html>